recursive-include filebrowser/templates *
recursive-include filebrowser/media *
recursive-include filebrowser/static *
recursive-include filebrowser/locale *
recursive-include filebrowser/templatetags *